<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
</head>
<body>
    <form method="post" action="/comments/<%=id%>?_method=PATCH">
        comment:<textarea type="text" name="comment">
            </textarea>
            <br>
        <button>edit</button>
</body>
</html>