<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="home.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>ＡＮＩＭＥ-ＣＨＡＴ</h1>
    <br>
    <br>
    <br>
    <br>
    <form action="/login_form">
        <button type="submit">ＬＯＧＩＮ</button>
     </form>
       <br><br>
     <form action="/signup_form">
        <button type="submit">ＳＩＧＮＵＰ</button>
     </form>
       
</body>
</html>